name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            formula: aws-mfa

          - os: macos-latest
            formula: aws-mfa

          - os: ubuntu-latest
            formula: aoss-curl

          - os: macos-latest
            formula: aoss-curl

          - os: ubuntu-latest
            formula: obsidian-vault

          - os: macos-latest
            formula: obsidian-vault

          - os: ubuntu-latest
            formula: jira-prompt

          - os: macos-latest
            formula: jira-prompt

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Test ${{ matrix.formula }} formula
        run: |
          HOMEBREW_NO_AUTO_UPDATE=true brew install --formula --include-test ./formula/${{ matrix.formula }}.rb
          brew test ./formula/${{ matrix.formula }}.rb
