name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Test formulae
        run: |
          brew tap jhandguy/tap ${{ github.workspace }}
          brew install aws-mfa aoss-curl obsidian-vault jira-prompt
          brew test aws-mfa aoss-curl obsidian-vault jira-prompt
