name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    strategy:
      matrix:
        include:
          - os: macos-latest
            formula: aws-mfa

          - os: macos-latest
            formula: aoss-curl

          - os: macos-latest
            formula: obsidian-vault

          - os: macos-latest
            formula: jira-prompt

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Test ${{ matrix.formula }} formula
        run: |
          brew tap jhandguy/tap
          brew install ${{ matrix.formula }}
          brew test ${{ matrix.formula }}
